.container {
  min-height: 1000px;
  padding: 100px 0;
  width: 100%;
  height: auto;
  color: #412222;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), /* lớp mờ */
    url('../../assets/bg-venue.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.youThere {
  margin-top: 250px;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #fff
}

.joinUs {
  font-family: Playfair Display;
  font-size: 48px;
  text-align: center;
  color: #fff
}

.eventContainer {
  width: 50%;
  margin: 32px auto;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: coral; */
}

.location {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: coral; */
}

@media only screen and (max-width: 768px) {
  .container {
    min-height: 500px;
    padding: 50px 0;
  }

  .eventContainer {
    display: flex;
    flex-direction: column;
  }

  .eventContainer {
    margin-top: 100px;
  }

  .youThere {
    font-size: 20px;
  }

  .joinUs {
    margin-top: 10px;
    font-size: 36px;
  }
}

@media only screen and (max-width: 481px) {
  .container {
    margin-top: 10px;
  }

  .youThere {
    font-size: 18px;
  }

  .joinUs {
    font-size: 28px;
  }
}
